.icon-48-academicachievements {
      background-image: url(../images/l_academicachievements.png);
      padding-left:60px!important;
}

.icon-48-academicachievement {
      background-image: url(../images/l_academicachievements.png);
      padding-left:60px!important;
}

