.icon-48-testlist {
      background-image: url(../images/l_testlist.png);
      padding-left:60px!important;
}

.icon-48-testform {
      background-image: url(../images/l_testlist.png);
      padding-left:60px!important;
}

